name: Build Garnet

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x

    - name: Restore dependencies
      run: dotnet restore Garnet.sln

    - name: Build
      run: dotnet build Garnet.sln --no-restore --configuration Release

    - name: Embold Analyse
      run: |
        curl ${{ vars.EMBOLD_SCANNER_URL}} -o browserstack-codequality-scanner-archive.tar.gz
        tar xvf browserstack-codequality-scanner-archive.tar.gz
        echo "Download and extract BrowserStack CQ Scanner done"
        
        # Using the specific Repo ID you provided: 794c46793aab78e15031f2d87ac1dbd7
        curl --silent --location --request GET "${{ vars.EMBOLD_URL_CS}}/api/v1/repositories/794c46793aab78e15031f2d87ac1dbd7/scans/config/download" --header "Authorization:Bearer ${{ secrets.EMBOLD_TOKEN_CS}}" -o repository-configuration.json
        echo "Download repository configuration file done"
        
        ./browserstack-codequality-scanner/bin/embold-scanner analyse -u ${{ vars.EMBOLD_URL_CS}} -t ${{ secrets.EMBOLD_TOKEN_CS}} -r 794c46793aab78e15031f2d87ac1dbd7 -b . -d ./embold-data -c ./repository-configuration.json -v
